/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #f5f5f5; }

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
body > .container {
  padding: 60px 15px 0; }

.footer > .container {
  padding-right: 15px;
  padding-left: 15px; }

code {
  font-size: 80%; }

body {
  overflow-x: hidden; }

/* Toggle Styles */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled-left {
  padding-left: 250px; }

#sidebar-wrapper-left {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #254f90;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled-left #sidebar-wrapper-left {
  width: 250px; }

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px; }

#wrapper.toggled-left #page-content-wrapper {
  position: absolute;
  margin-right: -250px; }

/* Sidebar Styles */
.sidebar-nav-left {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 1rem 0;
  list-style: none; }
  .sidebar-nav-left h5 {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: #ddd;
    padding: 0 20px;
    margin-bottom: 20px; }

.sidebar-nav-left li {
  text-indent: 20px;
  line-height: 24px; }

.sidebar-nav-left li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 24px 0; }

.sidebar-nav-left li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(9, 33, 71, 0.3); }

.sidebar-nav-left li a:active,
.sidebar-nav-left li a:focus {
  text-decoration: none;
  background: rgba(9, 33, 71, 0.3);
  font-weight: 600; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

.sidebar-nav-left > .sidebar-brand-left a {
  color: #fff; }

.sidebar-nav-left > .sidebar-brand-left a:hover {
  color: #fff;
  background: #1d417a; }

#menu-toggle-left {
  text-align: left;
  margin-bottom: 30px; }

@media (min-width: 768px) {
  #wrapper {
    padding-left: 0; }
  #wrapper.toggled-left {
    padding-left: 250px; }
  #sidebar-wrapper {
    width: 0; }
  #wrapper.toggled-left #sidebar-wrapper {
    width: 250px; }
  #page-content-wrapper {
    padding: 20px;
    position: relative; }
  #wrapper.toggled-left #page-content-wrapper {
    position: relative;
    margin-right: 0; } }

body {
  overflow-x: hidden; }

/* Toggle Styles */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled-right {
  padding-right: 350px; }

#sidebar-wrapper-right {
  z-index: 1000;
  position: fixed;
  right: 350px;
  width: 0;
  height: 100%;
  margin-right: -350px;
  overflow-y: auto;
  background: white;
  border-left: 1px solid #e7e7e7;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled-right #sidebar-wrapper-right {
  width: 250px; }

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px; }

#wrapper.toggled-right #page-content-wrapper {
  position: absolute;
  margin-left: -350px; }

/* Sidebar Styles */
.sidebar-nav-right {
  position: absolute;
  top: 0;
  width: 350px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav-right li {
  text-indent: 0;
  line-height: 20px;
  color: #1a0dab;
  margin-bottom: 20px;
  display: inline-flex;
  padding-right: 20px; }

.sidebar-nav-right li a {
  display: block;
  text-decoration: none; }

.sidebar-nav-right li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2); }

.sidebar-nav-right li a:active,
.sidebar-nav-right li a:focus {
  text-decoration: none; }

.sidebar-nav-right > .sidebar-brand-right {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

.sidebar-nav-right > .sidebar-brand-right a {
  color: #999999; }

.sidebar-nav-right > .sidebar-brand-right a:hover {
  color: #fff;
  background: none; }

#menu-toggle-right {
  float: right; }

button.delete {
  font-size: 10px;
  text-decoration: underline;
  color: #0f54c3;
  background: transparent;
  border: 0;
  display: inline-flex;
  position: relative;
  right: 0;
  top: 0;
  line-height: 12px;
  height: 20px; }
  button.delete:hover {
    background: #000;
    color: white; }

.lic-name {
  width: 80%; }

@media (min-width: 768px) {
  #wrapper {
    padding-left: 0; }
  #wrapper.toggled-right {
    padding-right: 350px; }
  #sidebar-wrapper-right {
    width: 0; }
  #wrapper.toggled-right #sidebar-wrapper-right {
    width: 350px;
    padding: 20px; }
  #page-content-wrapper {
    padding: 20px;
    position: relative; }
  #wrapper.toggled-right #page-content-wrapper {
    position: relative;
    margin-left: 0; } }

/* Overlay style */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #e4e5e5;
  padding: 4rem; }

/* Overlay closing cross */
.overlay .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../img/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100; }

/* Effects */
.overlay-simplegenie {
  visibility: hidden;
  -webkit-transform: translateY(60%) scale(0);
  transform: translateY(60%) scale(0);
  -webkit-transition: -webkit-transform 0.4s, visibility 0s 0.4s;
  transition: transform 0.4s, visibility 0s 0.4s; }

.overlay-simplegenie.open {
  visibility: visible;
  -webkit-transform: translateY(0%) scale(1);
  transform: translateY(0%) scale(1);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s; }

@media screen and (max-height: 30.5em) {
  .overlay label {
    height: 70%;
    font-size: 34px; }
  .overlay input {
    min-height: 34px; } }

section {
  padding: 1em 2em 5em;
  text-align: center;
  font-size: 1.5em; }

section p {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0; }

section button {
  border: none;
  padding: 15px 30px;
  outline: none;
  background: #85b91e; }

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

strong {
  font-weight: 700; }

.navbar-brand {
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

.lead {
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: center; }

button {
  font-family: "Open Sans", sans-serif; }

.bg-ablis {
  background-color: #254f90; }

.mainheading {
  padding-top: 1.250rem;
  margin-bottom: 2rem;
  text-align: center; }
  @media (min-width: 641px) {
    .mainheading {
      padding-top: 3rem; } }

.serviceTile {
  border-bottom: 1px dotted #c1c1c1;
  padding: 20px 0; }
  .serviceTile .servicePreview {
    text-align: left;
    background: none;
    border: 0;
    padding: 0; }
  .serviceTile .serviceName {
    color: #1a0dab;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.125rem; }
  .serviceTile meta-label {
    color: #37a400;
    font-size: 13px;
    font-weight: 600; }
  .serviceTile p {
    color: #545454;
    font-size: 14px; }
  .serviceTile .sub-actions a {
    font-size: 14px;
    text-decoration: underline; }
    .serviceTile .sub-actions a:hover {
      color: white;
      background-color: black;
      text-decoration: none;
      padding: 4px; }

.results-controlbar {
  float: right; }

#serviceDetailsPanel {
  font-family: "Open Sans", sans-serif;
  height: 99%;
  width: 100%; }
  #serviceDetailsPanel object {
    width: 100%;
    min-height: 100%;
    overflow-y: scroll; }

body#results {
  margin: 0; }

#results .container-fluid {
  height: 100%;
  flex-direction: column; }

#results .container-fluid, #results .content {
  display: flex; }

#results .content, #results .content div {
  flex: 1; }

#results .content div {
  overflow: scroll; }

.alpha-label .phase-tag {
  display: -moz-inline-stack;
  display: inline-block;
  margin: 0 8px 0 0;
  padding: 2px 5px 0;
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background-color: #005ea5; }

.alpha-label {
  padding: 10px 0 0px;
  border-bottom: 1px solid #bfc1c3; }

@media (min-width: 641px) {
  .alpha-label {
    padding-bottom: 0px; }
    .alpha-label .phase-tag {
      font-size: 16px;
      line-height: 1.25; } }

.box {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px; }

#searchTerms {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 30px 0;
  margin-bottom: 30px; }
  #searchTerms .summary {
    margin-bottom: 30px; }
    #searchTerms .summary:last-child {
      margin-bottom: 0; }
  #searchTerms ol, #searchTerms ul {
    color: #254f90; }
  #searchTerms ul li {
    list-style-type: none;
    list-style-position: inside; }
  #searchTerms h6 {
    font-size: 1rem;
    font-weight: 300; }
  #searchTerms a {
    font-size: .875rem;
    text-decoration: underline; }

.longfield {
  margin-bottom: 2rem; }
