//****************************************************************************************************//
// LAYOUT.scss
// 
// For styles related to the base layout and skeletal structure of the site. 
//****************************************************************************************************//
// Fixed Navbar on every screen with ABLIS branding
.bg-ablis {
    background-color: $ablis-blue;
}

//Heading Section
.mt-3 {
    padding-top: 1.250rem;
    margin-bottom: 2rem;
    text-align: center;
    @media (min-width: 641px) {
        padding-top: 3rem;
    }
}

// Search Results
.serviceTile {
    border-bottom: 1px dotted $hz;
    padding: 20px 0;
    .servicePreview {
        text-align: left;
        background: none;
        border: 0;
        padding: 0;
    }
    .serviceName {
        color: $dark-blue;
        font-family: $font-light;
        font-weight: 400;
        font-size: 1.125rem;
    }
    meta-label {
        color: $green;
        font-size: 13px;
        font-weight: 600;
    }
    p {
        color: $greytext;
        font-size: 14px;
    }
    .sub-actions {
        a {
            font-size: 14px;
            text-decoration: underline;
            &:hover {
                color: white;
                background-color: black;
                text-decoration: none;
                padding: 4px;
            }
        }
    }
}

.results-controlbar {
    float: right;
}


// Service Details Section
#serviceDetailsPanel {
    font-family: $font-light;
    height: 99%;
    width: 100%;
    object {
        width: 100%;
        min-height: 100%;
        overflow-y: scroll;
    }
}