/* Overlay style */

.overlay {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 3rem;
    left: 44%;
    background: $grey-bg;
    padding: 3rem;
    margin-top: -3rem;
    z-index: 2;
    overflow: overlay;
    h4 {
        margin-bottom: 40px;
        span {
            font-weight: 100;
            font-size: 90%;
        }
    }
    .radio-toggle {
        display: inline-flex;
        margin-bottom: 30px;
    }
    .custom-controls p:focus,
    .custom-controls p>input[type=checkbox]:focus~label,
    .custom-controls p>input[type=checkbox]~label:focus {
        outline: 0;
    }
}


/* Overlay closing cross */

.overlay .overlay-close {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    background: url(../img/cross.png) no-repeat center center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100;
}

///* Menu style */
//.overlay label {
//	text-align: center;
//	position: relative;
//	top: 50%;
//	height: 60%;
//	-webkit-transform: translateY(-50%);
//	transform: translateY(-50%);
//    display: block;
//    font-size: 54px;
//}
//
//.overlay input {
//	list-style: none;
//	padding: 0;
//	margin: 0 auto;
//	display: inline-block;
//	height: 100%;
//	position: relative;
//}
//
//.overlay input {
//	display: block;
//	height: 20%;
//	height: calc(100% / 5);
//	min-height: 54px;
//	-webkit-backface-visibility: hidden;
//	backface-visibility: hidden;
//}
//
//.overlay input a {
//	font-size: 54px;
//	font-weight: 300;
//	display: block;
//	color: #fff;
//	-webkit-transition: color 0.2s;
//	transition: color 0.2s;
//}
//
//.overlay input a:hover,
//.overlay input a:focus {
//	color: #e3fcb1;
//}

/* Effects */

.overlay-simplegenie {
    visibility: hidden;
    -webkit-transform: translateY(60%) scale(0);
    transform: translateY(60%) scale(0);
    -webkit-transition: -webkit-transform 0.4s, visibility 0s 0.4s;
    transition: transform 0.4s, visibility 0s 0.4s;
}

.overlay-simplegenie.open {
    visibility: visible;
    -webkit-transform: translateY(0%) scale(1);
    transform: translateY(0%) scale(1);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
}

@media screen and (max-height: 30.5em) {
    .overlay label {
        height: 70%;
        font-size: 34px;
    }
    .overlay input {
        min-height: 34px;
    }
}

section {
    padding: 1em 2em 5em;
    text-align: center;
    font-size: 1.5em;
}

section p {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 0;
}

section button {
    border: none;
    padding: 15px 30px;
    outline: none;
    background: #85b91e;
}

// Refinement (Question and Answer) Styling --------
.longfield {
    margin-bottom: 2rem;
}

legend.with-tooltip {
    font-size: 1.125rem;
    font-weight: 400;
}

.serviceTile.hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
//    transition: visibility 1s, opacity 0.5s linear, height 1s linear, padding 0.5s linear, margin 0.5s linear;
    transition: all 1.5s linear;
    overflow: hidden;
}

.serviceTile {
    visibility: visible;
    opacity: 1;
    height: auto;
//    transition: visibility 1s ease-in, opacity 0.5s ease-in, height 1s ease-in, padding 1s ease-in, margin 1s ease-in;
    transition: all 1.5s linear;
}

//.serviceTile.hidden {
//	visibility: collapse;
//    visibility: transform 1s, visibility 0s 1s;
////    display: none;
//}