//****************************************************************************************************//
// SIDEBAR-LEFT.scss
// 
// Slide out sidebar styling for left side
//****************************************************************************************************//

 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled-left {
    padding-left: 250px;
}

#sidebar-wrapper-left {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: $ablis-blue;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled-left #sidebar-wrapper-left {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled-left #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav-left {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 1rem 0;
    list-style: none;
    h5 {
        font-family: $font-light;
        font-weight: 100;
        font-size: 14px;
        color: #ddd;
        padding: 0 20px;
        margin-bottom: 20px;
    }
}

.sidebar-nav-left li {
    text-indent: 20px;
    line-height: 24px;
}

.sidebar-nav-left li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 24px 0;
}

.sidebar-nav-left li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(9, 33, 71, 0.3);
}

.sidebar-nav-left li a:active,
.sidebar-nav-left li a:focus {
    text-decoration: none;
    background: rgba(9, 33, 71, 0.3);
    font-weight: 600;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav-left > .sidebar-brand-left a {
    color: #fff;
}

.sidebar-nav-left > .sidebar-brand-left a:hover {
    color: #fff;
    background: #1d417a;
}

#menu-toggle-left {
    text-align: left;
    margin-bottom: 30px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled-left {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled-left #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled-left #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}