//************************************************************************************
// TYPOGRAPHY.scss 
// 
// For fonts, text styles, headings etc.
//************************************************************************************

// Base
html {
    font-family: $font-light;
    font-size: $font-size-base;
}

body {
    font-family: $font-light;
    font-weight: 300;
    line-height: $line-height;
}

strong {
    font-weight: 700;
}

// ABLIS Brand
.navbar-brand {
    font-family: $font-light;
    font-weight: 300;
}

.lead {
    font-size: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

button {
    font-family: $font-light;
}